<div class="container">
  <div class="row">
    <div class="col-lg-6 mt-4">
      <%= link_to "Retourner sur tinder", browse_path , class:"float-right btn btn-secondary" %>
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :location %><br />
          <%= f.text_field :location, autofocus: true,  class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %><br />
          <%= f.text_area :description, autofocus: true, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :education %><br />
          <%= f.text_field :education, autofocus: true, autocomplete: "education", class:"form-control" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
          <%= content_tag :small, " #{@minimum_password_length} characters minimum" if @minimum_password_length%>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %> <i>(current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :images %>
          <%= f.file_field :images, multiple: true, class:"form-control" %>
        </div>

        <% if resource.images.attached? %>
          <% resource.images.each do |image| %>
          <%= image_tag image , width:"100px"%>
        <% end %>
        <% end %>
        <div class="form-group mt-5">
          <%= f.submit "Update", class:"btn btn-success btn-lg"%>
        </div>
      <% end %>

      <p>Voulez vous supprimer votre compte? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>
