  <div class="row">
      <div class="col-md-4 bg-white">
          <%= render "layouts/profile_bar" %>
            <ul class="nav nav-tinder-sidebar ml-4 mt-3 mb-3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-matches" role="tab" aria-controls="pills-home" aria-selected="true">Matches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-messages" role="tab" aria-controls="pills-profile" aria-selected="false">Messages</a>
              </li>

            </ul>
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane ml-2 fade show active" id="pills-matches" role="tabpanel" aria-labelledby="pills-home-tab">
            <%= render 'browse/matches'%>
          </div>
          <div class="tab-pane fade" id="pills-messages" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="col">
              <%= render partial: "conversations/list" %>
            </div>
          </div>

        </div>

      </div>
      <div class="col-9 col-md-8 ">
        <ul id="slides">
          <% @users.each_with_index do |user, i| %>
          <div class="slide <%= 'showing' if i == 0 %>" data-id="<%= user.id %>">
            <div class="image-carousel" style="background-image: url('<%= url_for user.images.first %>')">
            </div>
              <div class="user-details">
                <span class="user-name"><%= user.first_name %></span>, <small>25</small> <br>
                <i class="fa fa-graduation-cap mr-1"></i> job/ studies <br>
                <i class="fa fa-map-marker mr-2"></i> Localisation

              </div>
          </div>
          <% end %>
        </ul>

        <div id="slide-controls">
          <span id="decline"><i class="fa fa-times-circle fa-2x"></i></span>
          <span id="approve"><i class="fa fa-heart fa-2x"></i></span>
        </div>
        <div id="conversation">
        </div>
      </div>
    </div>
